
.container{
    width: 1226px;
    height: 100%;
   margin: 0 auto;

}
.header{
    height: 100px;
}
.header .header-logo{
    float: left;
    width: 62px; 
    margin-top: 22px;
}

.header .header-list{
    float: left;
    width: 850px;
}
.header .header-list ul{
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}
.header .header-list .new{
    width: 150px;
    height: 100px;
    padding: 0px 15px 0px 0px; 
    float: left;
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/5753140bf0e98605d7d3fc7a6c3cc740.gif?w=165&h=55);
    background-repeat: no-repeat;
    background-position: 50%;


}
.header .header-list ul li{
    float: left;
   
}
.header .header-list ul li a{
    display:block ;
    padding: 26px 10px 38px;
    color: #333;
}
.header .header-list ul li a:hover{
    color: #ff6700;
    cursor: pointer;
}
/* 菜单栏鼠标悬浮显示右侧内容 */
/* 左边菜单栏，显示右边内容盒子 如果想要鼠标可以点击里面的内容，
一定要把内容盒子放到菜单栏对应的菜单栏里面 */




/*隐藏的图片栏*/
div p.hidden{  
     /*设置了hidden 当鼠标不在hover的时候会立马没有 
    看不到慢慢消失的动画*/
    float: left;
    visibility: hidden;
  width: 100%;
  height: 0px;
  position: absolute;
  top:140px;
  left: 0px;
  background-color:white; 
  transition:height 0.5s , visibility 0.5s; 
  z-index: 3;

}

.header .header-list div p img span{
    height:110px ;
    color: black;
    right: 10px;
}
 .header .header-list div p  img{
    visibility: hidden;
    width: 160px;
    height: 0px;
    float: left;
    z-index: 3;
    margin-top:50px;
    padding: 0 18px;
    transition:height 0.5s , visibility 0.5s; 
  
  
}
/* p元素插在a元素（xiaomi手机）中间 因为a是在header中间 如果让p显示在a元素的中间会打乱之后
的a元素 设置p元素的位置是绝对位置 再用a元素（小米手机hover让其显示出来）  */
a:hover div p.hidden{
    height: 241px;
    visibility: visible;
    color: black;
 }
a:hover  div p.hidden img{
    visibility: visible;
    width: 160px;
    height: 110px;
}

.header .header-search{
    float: right;
    width: 296px;
    margin-top: 25px;
    
}
.header .header-search form{
    width: 296px;
    height: 50px;
}
input[type=text]{
    width: 223px ;
    height: 48px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    float: left;
}
input[type=text]:hover{

    border: 1px solid #616161;
}
input[type=submit]{
    float: left;
    width: 50px;
    height: 50px;
    padding: 0px 0px ;
    border: 1px solid #e0e0e0;
    background: #fff;
    color: #616161;
    cursor: pointer;
    margin-left: -1px ;/*让两条borad边线重合*/
}
input[type=submit]:hover{
    background-color: #ff6700;
}
input[type=text]:focus,input[type=submit]:after{
    border: 1px solid #ff6700;
}